# QtCreator #

# Files
*.autosave
*.cflags
*.config
*.creator
*.cxxflags
*.files
*.includes
*.log
*.swp
*.user

# Folders
build/
temp/

# VisualStudioCode #

# Files
.project

# Folders
.settings/
.vscode/

# Project specific #

# Folders
external/jsoncpp/