[submodule "external/hidapi"]
	path = external/hidapi
	url = https://github.com/libusb/hidapi.git
[submodule "external/liblightargparser"]
	path = external/liblightargparser
	url = https://github.com/nkh-lab/liblightargparser.git
[submodule "external/logger"]
	path = external/logger
	url = https://github.com/nkh-lab/logger.git
[submodule "external/jsoncpp"]
	path = external/jsoncpp
	url = https://github.com/nkh-lab/jsoncpp.git
[submodule "external/cpp-utils"]
	path = external/cpp-utils
	url = https://github.com/nkh-lab/cpp-utils.git
