[submodule "external/hidapi"]
	path = external/hidapi
	url = https://github.com/libusb/hidapi.git
[submodule "external/liblightargparser"]
	path = external/liblightargparser
	url = https://github.com/nkh-lab/liblightargparser.git
